body {
	margin: 0;
	padding: 0;
	text-align: center;
}

body, button {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

video,
canvas {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

ul {
	text-align: left;
	margin: 2.618em 0;
}

/* container */
.container {
	max-width: 480px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* button */
.button {
	display: inline-block;
	position: relative;
	margin: 20px 0 26px;
	padding: 1em 2em;
	background-color: #dd0000;
	color: #ffffff;
	border: none;
	font-size: 14px;
	border-radius: 6px;
	box-shadow: 0 6px 0 #660000;
	cursor: pointer;
	outline: 0;
}
.button::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 8px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.button:active {
	top: 6px;
	box-shadow: none;
}

.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.pagination a {
	display: inline-block;
	position: relative;
	margin: 20px 0 26px;
	padding: .5em 2em;
	background-color: #dd0000;
	color: #ffffff;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	box-shadow: 0 4px 0 #660000;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
}
.pagination a:active {
	top: 4px;
	box-shadow: none;
}


/* switch button */
.canvas-container {
	position: relative;
}
.canvas-container #canvas {
	margin-bottom: 1em;
}

.canvas-switch {
	margin: 1.618em 0;
}

.canvas-container label {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin: 0 .5em;
	padding: 0;
	background-color: #ccc;
	border-radius: 50%;
	font-size: 10px;
	line-height: 2;
	width: 2em;
	height: 2em;
}
.canvas-container input {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.canvas-bg-container {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

.canvas-bg {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

:checked + label {
	background-color: #cc0000;
	color: #ffffff;
}

#bg1:checked ~ .canvas-bg-container .canvas-bg {
	background-image: url(./video-4/bg.jpg);
}
#bg2:checked ~ .canvas-bg-container .canvas-bg {
	background-image: url(./video-4/bg2.jpg);
}
